################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/Mi_Plata/css/reset.css
/Mi_Plata/css/normalize.css
