@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
}

img {
    width: 200px;
    height: 200px;
}

body {
    font-family: "Ubuntu", sans-serif;
}

/* HEADER */

.cabecera {
    align-items: center;
    background-color: hsl(211, 92%, 10%);
    display: flex;
    justify-content: space-around;
    height: 80px;
    padding: 1rem 0;
}

.logo {
    width: 100px;
    height: 100px;
}

.menu {
    font-size: 1rem;
}

.menu_lista {
    display: flex;
}

.menu_item {
    list-style: none;
}

    .menu_item:nth-child(2) {
        margin-left: 3rem;
    }

.menu_link {
    color: #FFF;
    max-width: 150px;
    margin-right: 2rem;
    padding: 1rem;
    text-decoration: none;
    background-color: hsl(180, 100%, 27%);
    font-weight: 500;
    transition: all .2s linear;
}

.menu_link-activo {
    font-size: 1.275rem;
    color: #ffffff;
    font-weight: bolder;
    margin-right: 2.5rem;
    text-decoration: none;
}

    .menu_link-activo::after {
        content: "|";
        margin-left: 30px;
        font-weight: 100;
    }

.menu_link:hover {
    background: #02A5A5;
}

/* MAIN */

.principal .principal_container {
    height: calc(100vh - 112px);
    background-color: #FFF;
    display: flex;
    justify-content: space-between;
}

.principal_formulario {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    width: 50%;
}

.principal_titulo {
    font-size: 3.25rem;
    color: hsl(210, 100%, 22%);
}

/**/

.input-container {
    max-width: 600px;
    width: 100%;
    height: 5rem;
    position: relative;
    overflow: hidden;
}

    .input-container input {
        width: 100%;
        height: 100%;
        background: none;
        border: none;
        outline: none;
        padding-top: 20px;
        color: hsl(210, 100%, 22%);
    }

.label {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    pointer-events: none;
    border-bottom: 3px solid hsl(210, 100%, 22%);
}

    .label::after {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        border-bottom: 3px solid hsl(180, 100%, 27%);
        left: 0;
        transform: translateX(-100%);
        transition: transform .4s ease-in-out;
    }

.label-text {
    position: absolute;
    bottom: 5px;
    left: 0;
    transition: transform .4s ease-in-out;
    color: hsl(210, 100%, 22%);
}

.input-container input:focus + .label .label-text,
.input-container input:valid + .label .label-text {
    transform: translateY(-150%);
    font-size: 14px;
    color: hsl(180, 100%, 27%);
}

.input-container input:focus + .label::after, .input-container input:valid + .label::after {
    transform: translateX(0);
}

#form_registro {
    max-width: 150px;
    width: 100%;
    background: none;
    padding: 15px;
    margin-top: 50px;
    border: 1px solid hsl(210, 100%, 22%);
    border-radius: 8px;
    color: hsl(210, 100%, 22%);
    font-weight: bold;
    transition: background-color .4s ease, color .4s ease;
}

    #form_registro:hover {
        color: #fff;
        background-color: hsl(180, 100%, 27%);
        border: none;
        font-weight: bolder;
    }

.referencial {
    display: flex;
    flex-direction: column;
    background-color: hsl(211, 92%, 10%);
    width: 50%;
    color: #FFF;
    justify-content: center;
    gap: 4rem;
    padding-bottom: 8rem;
    text-align: center;
    align-items: center;
}

.referencial_titulo {
    font-size: 3.25rem;
    color: hsl(180, 100%, 27%);
}

.referencial_descripcion {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 1.75rem;
    font-weight: 400;
}

.referencial_lista {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    list-style: square;
    font-size: 1rem;
    font-weight: 300;
    padding-left: 4rem;
    align-items: flex-start;
}

.referencial_item::marker {
    color: hsl(180, 100%, 27%);
}

.referencial_boton {
    color: #FFF;
    max-width: 150px;
    margin-top: 1.25rem;
    padding: 1.5rem;
    text-decoration: none;
    background-color: hsl(180, 100%, 27%);
    font-weight: 700;
    border: none;
    transition: all .2s linear;
}

    .referencial_boton:hover {
        cursor: pointer;
        background: #02A5A5;
    }

.referencial_imagen {
    height: calc(100vh - 224px);
    width: 50%;
    border-radius: calc(50% - 8rem);
    padding: .5rem .75rem;
}
